{% extends 'main/base.html' %}
{% block title %}Create Task{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post">
{% csrf_token %}{{form|crispy}}
<button type="submit" class="btn btn-success">Create Task</button>
</form>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        {% if user == task.author %}
            <tr>
              {% if task.finished %}
              <td class="text-decoration-line-through">{{task.title}}</td>
              {% else %}
              <td>{{task.title}}</td>
              {% endif %}
              <td>
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-info" name= "task_id_update" value="{{task.id}}">Update</button>
                </form>
              </td>
              <td>
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger" name= "task_id_delete" value="{{task.id}}">Delete</button>
                </form> 
              </td>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>
{% endblock %}